# DATABASE
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=<YOUR DB USERNAME>
DB_PASSWORD=<YOUR DB PASSWORD>
DB_NAME=<YOUR DB NAME>

# JWT
JWT_SECRET=<YOUR JWT SECRET>

# EMAIL

EMAIL_HOST=<YOUR EMAIL SMTP>
EMAIL_PORT=<YOUR EMAIL PORT>
EMAIL_USER=<YOUR EMAIL USER>
EMAIL_PASSWORD=<YOUR EMAIL PASSWORD>

# HOST

PORT = 3000
HOST_URL = http://localhost:3000/